/*$sansSerifFont:  'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
$sansSerifFont: "Mercury SSm A","Mercury SSm B",Georgia,Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",sans-serif;
$investigatingColor: #d13943;
$identifiedColor: #d13980;
$monitoringColor: #399dd1;
$resolvedColor: #6CBE07;
